@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a{ 
  text-decoration: none;
  color: white;
}

html{
  background: #2D0034;
}
 body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px 16px 0px;

  position: fixed;
  width: 100%;
  height: 34px;
  left: 0px;
  top: 0px;

  background: #228200;
  box-shadow: 0px 3px 15px #1C0021;
}

header h1{  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 24pt;
  padding-left: 180px;
  /* line-height: 35px; */

  color: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

header nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 180px;

  position: static;
  /* width: 242px;
  height: 42px; */
  left: 100px;
  top: 23px; 

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}

header nav ul li{ 
  position: static;
  /* width: 128px;
  height: 42px; */
  left: 114px;
  top: 0px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20pt;
  line-height: 42px;
  list-style-type: none;

  color: #FFFFFF;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 20px;
}

iframe{
  position: absolute;
  width: 75%;
  height: 90%;
  left: 12.5%;
  right: 12.5%;;
  top: 65px;

  border: none;

  background: #26002D;
}