a{
  color: white;
  text-decoration: none;
}
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #228200;
  height: 60px;
  box-shadow: 0 0 1em black;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 180px;
  margin-top: 5px;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.logo span {
  font-size: 15px;
}

.itens {
  margin-right: 180px;
  margin-top: 15px;
}

.itens a {
  margin: 0 10px;
  color: white;
  font-size: 22px;
  text-decoration: none;
}
